.nav {
  background-color: #fcfcfc;
  width: 100%;
  padding: 20px 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
  /* 니콜라스는 space-center로 함 */
}

.nav i {
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
  /* 이게 없다면 nav__badge는 .nav를 중심으로 absolute 될것이다 */
}

.nav .nav__badge {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 10px;
  color: white;
  background-color: #dc5d46;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav {
  transform: translateY(80px);
  /* 위에꺼 왜 달아주었냐!! 이유는 밑에 딜레이 넣어줘서 0.25s동안은
  디폴트값의 위치가 된다. 그래서 원하는 애니메이션이 안나온다. 
  그래서 forwards(to{}의 값을 고정 시켜주는)를 주고 translateY(80px)
  로 nav의 값을 내려준거! 쉽누  */
  animation: fadeDown 0.5s ease-out forwards;
  animation-delay: 0.25s;
}
